nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') Northwind
    |   
    ul.nav.navbar-nav
      li.nav-item.active
        a(href='/index.html')
          | Home
          span.sr-only (current)
      |       
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Category/Products
          span.caret
        |         
        ul.dropdown-menu
          li
            a.nav-link(href='/category') Category
          |           
          li
            a.nav-link(href='/product') Product
      |       
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Orders
          span.caret
        |         
        ul.dropdown-menu
          li
            a.nav-link(href='/orders') Order
          |       
          li
            a.nav-link(href='/orderdetails') Order Details
      |       
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Logistics
          span.caret
        |         
        ul.dropdown-menu
          li
            a.nav-link(href='/supplier') Supplier
          |           
          li
            a.nav-link(href='/shipper') Shipper
          |           
          li
            a.nav-link(href='/region') Region
          |           
          li
            a.nav-link(href='/territory') Territory
      |       
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Login
          span.caret
        |         
        ul.dropdown-menu
          li
            a.nav-link(href='/customer') Customer
          |       
          li
            a.nav-link(href='/employee') Employee
    |     
    form.form-inline.pull-xs-right
      input.form-control(type='text', placeholder='Search')
      |  
      |     
      button.btn.btn-primary(type='submit') Search
